$primary: #b2e6ff;

// $primary: hsl(340, 93%, 77%);

$lightPrimary: lighten($primary, 12%);

$lighterPrimary: lighten($primary, 25%);

$lightestPrimary: lighten($primary, 50%);

$darkPrimary: darken($primary, 40%);

$darkerPrimary: darken($primary, 60%);

$darkestPrimary: darken($primary, 70%);

$invert: invert($primary);

$accent: complement($primary);

$secondary: #83cfda;

$success: #94ffa3;

$danger: #fdb1b1;

$warning: #fffd88;

$info: #9bffff;

// $light: #eff8ff;

// $dark: #2c455a;

$textColor: white;

@if lightness($primary) >= 50 {
    $textColor: black;
}

