@import 'variables';

.active {
    position: relative;

    &:after{
        content: "";
        position: absolute;
        bottom: -.5rem;
        left: 0;
        width: 100%;
        height: 4px;
        background: $darkPrimary;
        border-radius: 2px;
        display: block;
    }
}

.btns {
    a, button {
        display: inline-block;
        padding: .5rem 1rem;
        margin: .25rem;
        background: $darkPrimary;
        color: white;
        border-radius: $radius;
    }
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    margin: .25rem;
    background: $darkPrimary;
    color: white;
    border-radius: $radius;

    &.accent {
        background: darken($accent, 45%);
    }

    &.success {
        background: darken($success, 45%);
    }

    &.danger {
        background: darken($danger, 40%);
    }
}

nav,
.nav {
    position: relative;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 1rem;

    @include md {
        justify-content: space-evenly;
    }

    @include lg {
        justify-content: space-between;
    }

    a,
    button,
    .navLink,
    .dropdown {
        padding: .5rem 1rem;
        margin: .25rem;
    }

    .dropdown {
        // position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;
        margin: 0;
        padding: 0;

        a,
        button,
        .navLink {
            display: block;
        }

        button {
            // position: relative;
            z-index: 10;
        }

        ul {
            position: absolute;
            z-index: 20;
            top: calc(100% - .25rem);
            left: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: .5rem;
            background: $primary;
            // border: 2px solid $darkPrimary;
            border-radius: 0 0 $radius $radius;
            visibility: hidden;
            // overflow-y: scroll;
            // overflow-x: hidden;
            transition: $transition;
            transform-origin: top center;
            opacity: 0;
            transform: scale(0);

            .dropdown ul {
                top: calc(100% - .75rem);
            }
        }

        button:hover ~ ul,
        button ~ ul:hover,
        button:focus-within ~ ul,
        button ~ ul:focus-within {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }

        button:after {
            content: "";
            display: inline-block;
            border: .5rem solid transparent;
            border-right: .5rem solid currentColor;
            margin: 0 -.5rem -.25rem 0;
        }

        button:hover:after,
        button:focus:after {
            content: "";
            transform: rotate(-90deg);
            transition: $transition;
            transform-origin: 75% center;
        }
    }

    h1 {
        font-size: 1.8rem;
        margin: 0;

        @include md {
            font-size: 2.2rem;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;

        a, button {
            display: block;
            word-break: break-all;
            word-break: break-word;
        }

        @include md {
            justify-content: space-between;
        }
    }

    // Collapse Nav
    // ============================================= //

    .collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        // overflow: hidden;
        height: 0;
        transform: scale(0);
        transform-origin: top center;
        flex-basis: 100%;

        a,
        button,
        .navLink {
            width: max-content;
        }

        .active:after {
            bottom: .25rem;
            left: 50%;
            transform: translateX(-50%);
            background: currentColor;
            height: 2px;
            width: 80%;
            border-radius: 1px;
        }

        @include md {
            display: flex;
            flex-direction: row;
            flex-basis: auto;
            height: auto;
            transform: scale(1) !important;
            overflow: visible;
        }
    }

    .collapseToggle {
        @include md {
            display: none;
        }
    }

    .collapseToggle:after {
        content: "";
        display: inline-block;
        border: .5rem solid transparent;
        border-right: .5rem solid currentColor;
        margin: 0 -.5rem -.25rem 0;
    }
        .collapseToggle:focus:after {
            content: "";
            transform: rotate(-90deg);
            transition: $transition;
            transform-origin: 75% center;
        }
}

.expand {
    // display: flex !important;
    height: 100% !important;
    transform: scale(1) !important;
}

.none {
    display: none;
}

// sidebar header
// ============================================= //


.sidebar,
.sidebarRight {
    position: fixed;
    width: 100%;
    top: 0;
    
    @include md {
        position: fixed;
        top: 0;
        // width: min-content;
        max-width: 200px;
        height: 100%;

        nav,
        .nav {
            flex-direction: column;
            height: 100%;
            flex-wrap: nowrap;
        }
    }

    nav,
    .nav {
        padding: 0;
    }

    .flex {
        flex-direction: column;
    }
}

.sidebar {
    left: 0;

    @include md {
        & ~ main#main,
        & ~ main,
        & ~ #main {
            padding-left: 200px !important;
        }
    }
}

.sidebarRight {
   right: 0;

   @include md {
        & ~ main#main,
        & ~ main,
        & ~ #main {
            padding-right: 200px !important;
        }
    }
}

// fixed nav
// ============================================= //

.fixed {
    position: fixed;
    z-index: 100;
    width: 100%;
    max-height: 100vh;
    // overflow-y: auto;
    top: 0;

}

.fixedPadding {
    display: block;
    width: 100%;
}

// Bubble nav
// ============================================= //

.bubbleNav {
    position: fixed;
    z-index: 110;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    margin: 0;
    padding: 0;

    & > button {
        z-index: 110;
        order: 2;
        background: $primary;
        box-shadow: $shadow;
    }

    .bubbles {
        order: 1;
        a {
            // position: absolute;
            // z-index: 106;
            // top: 0;
            // left: 0;
            background: $primary;
            box-shadow: $shadow;
        }
    }
}


// Modals
// ============================================= //

.modal {
    position: fixed;
    z-index: 110;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-22.5%);
    width: calc(100% - 4rem);
    max-width: 1000px;
    max-height: calc(100% - 4rem);
    padding: 1rem;
    border-radius: $radius;
    background: white;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
}

.showModal {
    visibility: visible;
    opacity: 1;
}

.blackOut {
    position: fixed;
    z-index: 105;
    top: -5rem;
    left: -5rem;
    height: 150vh;
    width: 150vw;
    background: black;
    opacity: .5;
}